* {
    color: black;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: bisque;
    display: flex;
    justify-content: center;

}

.main {
    width: 400px;
    height: 200px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.secondary {
    width: 50%;
    height: 50%;
    background-color: blueviolet;
}