body {
    background-color: bisque;
}

h1 {
    color: aqua;
    background-color: rgb(209, 190, 79);
}

p {
    color: rgb(104, 18, 18);
    background-color: seagreen;
}

button {
    color: black;
    background-color: skyblue;
}