*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    /* border: 2px solid black; */
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 50px;
    color: red;
    background-color: #dddd0e;
    /* border: 2px solid red; */
}

#reset{
    /* width: 30vmin;
    height: 5vmin; */
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    background-color: #087E8B;
    color: white;
    font-size: 1.25rem;

}

#new-btn{
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    background-color: #087E8B;
    color: white;
    font-size: 1.25rem;
    margin-top: 5vmin;
}

#msg{
    color: #e9e90a;
    font-size: 8vmin;
}

.msg-container{
    height: 30vmin;
}

.hide {
    display : none;
}